<html>
    <body>

        <h2>For get exchange rate click button bellow:</h2>

        <form action="/get_today_currency">
            <button type="submit">Today rate</button>
        </form>

        <form action="/get_all_rates">
            <button type="submit">All rates</button>
        </form>

    </body>
</html>